
<!DOCTYPE html>
<html>
<head>
    <title>Modelo de Predicción</title>
    <script>
        function predecir(event) {
            event.preventDefault();
            const km = document.getElementById('km').value;
            const onRoadNow = document.getElementById('onRoadNow').value;
            const onRoadOld = document.getElementById('onRoadOld').value;
            const condition = document.getElementById('condition').value;
            const torque = document.getElementById('torque').value;
            const topSpeed = document.getElementById('topSpeed').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `km=${km}&on_road_now=${onRoadNow}&on_road_old=${onRoadOld}&condition=${condition}&torque=${torque}&top_speed=${topSpeed}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'La predicción es: ' + data.categoria;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Modelo de Predicción</h1>
    <form id="formulario" onsubmit="predecir(event)">
        <label for="km">KM:</label>
        <input type="text" id="km" name="km"><br><br>
        <label for="onRoadNow">On Road Now:</label>
        <input type="text" id="onRoadNow" name="onRoadNow"><br><br>
        <label for="onRoadOld">On Road Old:</label>
        <input type="text" id="onRoadOld" name="onRoadOld"><br><br>
        <label for="condition">Condition:</label>
        <input type="text" id="condition" name="condition"><br><br>
        <label for="torque">Torque:</label>
        <input type="text" id="torque" name="torque"><br><br>
        <label for="topSpeed">Top Speed:</label>
        <input type="text" id="topSpeed" name="topSpeed"><br><br>
        <input type="submit" value="Enviar">
    </form>
    
    <p id="resultado"></p>
</body>
</html>
